{% macro drawMap() %}
    <div ng-controller="JugendstadtplanController" class="angular-leaflet-map">
        <leaflet markers="markers" center="center"></leaflet>
    </div>
{% endmacro %}

{% macro ortData(ort) %}
    {#<script type="text/javascript">//<![CDATA[#}
        {#drawmap();#}

        {#$(function() {#}
            {#console.log({{ ort.longitude }});#}
            {#console.log({{ ort.latitude }});#}
            {#addMarker(layer_markers, {{ ort.longitude }}, {{ ort.latitude }}, "{{ ort.beschreibung|raw }}", true, 0);#}
            {#jumpTo({{ ort.longitude }}, {{ ort.latitude }}, 13);#}
        {#});#}

        {#//]]>#}
    {#</script>#}
{% endmacro %}

{% macro jsonData(url) %}
    {#<script type="text/javascript">//<![CDATA[#}
        {#drawmap();#}

        {#$(function() {#}
            {#$.getJSON("{{ url }}", function(data) {#}
                {#$.each(data, function(key, item) {#}
                    {#addMarker(layer_markers, item.longitude, item.latitude, item.beschreibung, false, 0);#}
                {#});#}
            {#});#}
        {#});#}

        {#//]]>#}
    {#</script>#}
{% endmacro %}