{% macro shortList(traeger, heading) %}
    {% import _self as traegerMacros %}
    <ul>
        {% for currentTraeger in traeger %}
            <li>
                <{{ heading|default("h2") }}>
                    {{ traegerMacros.link(currentTraeger) }}
                </{{ heading|default("h2") }}>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro link(traeger) %}
    <a href="{{ path('kjrb_jugendstadtplan_traeger_detail', {'id': traeger.id}) }}">{{ traeger.titel }}</a>
{% endmacro %}