{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Traeger:macros.html.twig" as traegerMacros %}
{% import "KjrbJugendstadtplanBundle:Angebot:macros.html.twig" as angebotMacros %}
{% import "KjrbJugendstadtplanBundle:Map:macros.html.twig" as mapMacros %}

{% block title %}
    <h1>Ort {{ ort.titel }}</h1>
{% endblock %}

{% block content %}
    {% if ort.latitude is not empty %}
        <div class="small-map-container">
            {{ mapMacros.drawMap() }}
        </div>
    {% endif %}
    {% if ort.angebote is not empty %}
        <div>
            Angebote:
            {{ angebotMacros.shortList(ort.angebote) }}
        </div>
    {% endif %}
    {% if ort.traeger is not empty %}
        <div>
            Träger:
            {{ traegerMacros.shortList(ort.traeger) }}
        </div>
    {% endif %}
{% endblock %}

{% block additionalJavascript %}
    {{ mapMacros.ortData(ort) }}
{% endblock %}