{% extends "KjrbJugendstadtplanBundle:Layout:base.html.twig" %}

{% import "KjrbJugendstadtplanBundle:Traeger:macros.html.twig" as traegerMacros %}
{% import "KjrbJugendstadtplanBundle:Angebot:macros.html.twig" as angebotMacros %}

{% block title %}
    <h1>Ort {{ ort.titel }}</h1>
{% endblock %}

{% block content %}
    {% if ort.latitude is not empty %}
        <div class="small-map-container">
            <div data-ng-controller="OrtDetailseiteController" class="angular-leaflet-map">
                <leaflet markers="markers"
                         center="center"
                         defaults="defaults"
                         data-ng-init="
                            center.lng={{ ort.longitude }};
                            center.lat={{ ort.latitude }};
                            markers.default_marker.lng={{ ort.longitude }};
                            markers.default_marker.lat={{ ort.latitude }};
                            markers.default_marker.message='{{ ort.titel }}{{ ort.beschreibung }}';
                          ">
                </leaflet>
            </div>
        </div>
    {% endif %}
    {% if ort.angebote is not empty %}
        <div>
            Angebote:
            {{ angebotMacros.shortList(ort.angebote) }}
        </div>
    {% endif %}
    {% if ort.traeger is not empty %}
        <div>
            Träger:
            {{ traegerMacros.shortList(ort.traeger) }}
        </div>
    {% endif %}
{% endblock %}
