<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jugendstadtplan Bonn</title>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>

    {% stylesheets
            '../app/bower_components/leaflet/dist/leaflet.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />

    {% javascripts
            'http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js'
            '../app/bower_components/angular/angular.js'
            '../app/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js'
        output='js/compiled/jugenstadtplan_libs.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body ng-app="JugendstadtplanApp">
    {% block title %}{% endblock %}
    {% for type, flashes in app.session.flashbag.all %}
        <div class="flash-{{ type }}">
            {% for flashMessage in flashes %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    {% javascripts
            '@KjrbJugendstadtplanBundle/Resources/views/Public/js/*'
        output='js/compiled/jugenstadtplan.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block additionalJavascript %}{% endblock %}
</body>
</html>